# Ignore the inner git repository folder
/Folder MBDA Pak Tri/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore environment variables
.env

# Ignore all zip, rar, and installer files
*.zip
*.rar
*.exe

# Ignore medical imaging data and cache directories
*Anonymize*/
Data*/
Dataset*/
outputs/

